<form class="example-container" (ngSubmit)="onSubmit(accountForm)" #accountForm="ngForm" novalidate
>
  <div class="row">
    <div class="col-12">
      <div class="card card-user">
        <div class="card-body">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <div class="avatar-cont">
              <img id="photo" alt="..." class="avatar" src="{{account.user.profilePicUrl}}"  />
              <a href="javascript:void(0)" class="btn-change-avatar"><i class="fas fa-camera"></i></a>
            </div>

          </div>
          <div class="row mt-3">
            <div class="col-sm-12 ml-auto mr-auto">
              <div class="amount-cont">
                <div class="form-row row">
                  <select class="form-control" name="user" id="user" [(ngModel)]="selectedAdUser" (change)="onAdUserSelect($event)">
                    <option [ngValue]="null" selected disabled>Select Azure AD User</option>
                    <option *ngFor="let adUser of azureAdUsers" [ngValue]="adUser">
                      {{adUser?.displayName}}
                    </option>
                    
                  </select>
                </div>
                <div class="form-row row">
                  <div class="col-6">
                    <div class="my-1">
                      <label for="accountTitle">Account Title</label>
                      <input type="text" class="form-control" id="accountTitle" placeholder="Account Title"
                        name="accountTitle" [(ngModel)]="account.accountTitle" #accountTitle="ngModel" required minlength="4" maxlength="30"  />
                    </div>
                    <div class="my-1">
                      <label for="accountNumber">Account Number</label>
                      <input #accountNumber="ngModel" type="text" class="form-control" id="accountNumber"
                      placeholder="Account Number" [(ngModel)]="account.accountNumber" name="accountNumber"
                      required />
                    </div>
                    <div class="my-1">
                      <label for="openingBalance">Opening Balance</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input type="number"  [(ngModel)]="account.currentBalance"  class="form-control" id="currentBalance" placeholder="Current Balance"
                          name="currentBalance"    onKeyPress="if(this.value.length==10) return false;" />
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="my-1">
                      <label for="phoneNumber">Phone Number</label>
                      <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number"
                      [(ngModel)]="account.user.phoneNumber" name="phoneNumber"
                      onKeyPress="if(this.value.length==10) return false;" />
                    </div>
                    <div class="my-1">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" placeholder="Email" [(ngModel)]="account.user.email"
                      id="email" name="email" #email="ngModel" required minlength="6"
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                    </div>
                    <div class="my-1">
                      <label for="accountStatus">Account Status</label>
                      <div class="segmented-control">
                        <input type="radio"  #accountStatus="ngModel" required [(ngModel)]="account.accountStatus" name="accountStatus" id="accountStatus-1" value="1" />
                        <input type="radio"  #accountStatus="ngModel" required [(ngModel)]="account.accountStatus" name="accountStatus" id="accountStatus-2" value="0" />

                        <label for="accountStatus-1" data-value="Active">Active</label>
                        <label for="accountStatus-2" data-value="Inactive">Inactive</label>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="error-message" *ngIf="accountTitle.errors && (accountTitle.dirty || accountTitle.touched)">
        <p class="text-warning" [hidden]="!accountTitle.errors?.['required']">
          <b>Warning:</b> That Account Title is required.
        </p>
        <p class="text-warning" [hidden]="!accountTitle.errors?.['minlength']">
          <b>Warning:</b> Account Title must be greater than 3 characters.
        </p>
      </div>
      <div class="error-message" *ngIf="email.errors && (email.dirty || email.touched)">
        <p class="text-warning" [hidden]="!email.errors?.['required']">
          <b>Warning:</b> That Email is required.
        </p>
        <p class="text-warning" [hidden]="!email.errors?.['pattern']">
          <b>Warning:</b> Email is not in correct format.
        </p>
        <p class="text-warning" [hidden]="!email.errors?.['minlength']">
          <b>Warning:</b> Email must be greater than 6 characters.
        </p>
      </div>
      <div class="error-message" *ngIf="accountNumber.errors && (accountNumber.dirty || accountNumber.touched)">
        <p class="text-warning" [hidden]="!accountNumber.errors?.['required']">
          <b>Warning:</b> Account Number is required.
        </p>
      </div>
      <div class="error-message">
        <p class="text-warning" [hidden]="!accountStatus.errors?.['required']">
          <b>Warning:</b> Please select an Account Status.
        </p>
      </div>
      <div class="row">
        <div>
          <div class="row">
            <div class="col-6 mb-3">
              <button class="btn btn-cancel btn-block" type="button">Cancel</button>
            </div>
            <div class="col-6">
              <button [disabled]="!accountForm.form.valid" class="btn btn-danger btn-create btn-block" type="submit">
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>




